#.gitignore
# Personal Documentation, Notes, and Instructions
# These files are for local reference and should not be versioned in the main repository.
README_CARD.MD
readme_tree_view.md
README.MD
Sesiones.md
tree_view.txt
GEMINI_INSTRUCTIONS.md
CARDS.MD
MEJORAS.MD

generate_audios.py
corrections.json
delete_audios.py
